[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
pytest = "*"
pylint = "*"
"psycopg2" = "*"
flask-migrate = "*"
flask-api = "*"
"autopep8" = "*"
flask-script = "*"
flask-testing = "*"

[dev-packages]

[requires]
python_version = "3.6"
